@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
@font-face {
   font-family: 'Lato';
   src: local('Lato Regular'), local('Lato-Regular'), url('../fonts/latoregular.woff2') format('woff2'), url('../fonts/latoregular.woff') format('woff');
   font-weight: 400;
   font-style: normal;
}
@font-face {
   font-family: 'Lato';
   src: local('Lato Bold'), local('Lato-Bold'), url('../fonts/latobold.woff2') format('woff2'), url('../fonts/latobold.woff') format('woff');
   font-weight: 700;
   font-style: normal;
}
@font-face {
   font-family: 'Lato';
   src: local('Lato Black'), local('Lato-Black'), url('../fonts/latoblack.woff2') format('woff2'), url('../fonts/latoblack.woff') format('woff');
   font-weight: 900;
   font-style: normal;
}
@font-face {
   font-family: 'Larsseit';
   src: url('../fonts/larsseit-regular.woff2') format('woff2'), url('../fonts/larsseit-regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: 'Larsseit';
   src: url('../fonts/larsseit-medium.woff2') format('woff2'), url('../fonts/larsseit-medium.woff') format('woff');
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: 'Larsseit';
   src: url('../fonts/larsseit-bold.woff2') format('woff2'), url('../fonts/larsseit-bold.woff') format('woff');
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}

body {
   font-family: Larsseit;
}
h1 {
   font-family: Lato;
   font-size: 30px;
   font-weight: bold;
}
h2 {
   font-family: Lato;
   font-size: 25px;
   font-weight: bold;
}
h3 {
   font-family: Lato;
   font-size: 20px;
   font-weight: bold;
}
.text1,
.text3 {
   font-family: Roboto;
   color: blue;
}
.text2 {
   color: red;
}

.block2 .text,
.block2 .text-test {
   font-family: Larsseit;
   color: blueviolet;
}
.sentence.one {
   color: brown;
}
.sentence.two {
   color: chartreuse;
}
#top,
#down {
   color: darkmagenta;
   font-weight: 900;
}
.text .name {
   color: darkgreen;
}
p.text,
p.text-green {
   color: aqua;
}
.text-green > span {
   color: green;
}
.red-inside * {
   color: red;
}
.test-yellow ~ p {
   color: yellow;
}
