@font-face {
    font-family: 'Lato';
    src: local('Lato Regular'), local('Lato-Regular'), url('../fonts/latoregular.woff2') format('woff2'), url('../fonts/latoregular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
 }
 @font-face {
    font-family: 'Lato';
    src: local('Lato Bold'), local('Lato-Bold'), url('../fonts/latobold.woff2') format('woff2'), url('../fonts/latobold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
 }
 @font-face {
    font-family: 'Lato';
    src: local('Lato Black'), local('Lato-Black'), url('../fonts/latoblack.woff2') format('woff2'), url('../fonts/latoblack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
 }
 body {
    font-family: Lato, serif;
    line-height: 160%;
    color: #424551;
 }
 .header-container,
 .image-container,
 .page-text {
    max-width: 810px;
    margin: 0 auto;
 }
 h1 {
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    margin-bottom: 29px;
    color: #1E212C;
 }
 h2 {
    margin-bottom: 24px;
 }
img {
    max-width: 100%;
    margin-bottom: 60px;
}
 [class*="__bold"] {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #1E212C;
}
[class*="__text"] {
    margin-bottom: 24px;
}
.citation__bold {
    margin: 48px 0px;
    padding-left: 58px;
}
li {
    margin-bottom: 4px;
    padding-left: 32px;
}
[class*="__block"] {
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 25px;
}
.new-features {
    background: 100% linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(254,212,95,0.19098977481617652) 22%, rgba(0,212,255,1) 100%);
    padding: 25px;
}
.block1__block {
    max-width: 810px;
    color: black;
    font-weight: 700;
    border: 5px dotted #460303;
    border-radius: 40px;
    text-align: center;
    background: #0a650ac2;
    box-shadow: 5px 5px 5px 5px black, inset 5px 5px 5px 5px black;
}
.block2__block {
    max-width: 355px;
    color: rgba(0, 0, 0, 0.434);
    border: 4px solid #9b8308;
    background: url("../img/armadillo.jpg") no-repeat center / cover, radial-gradient(circle, rgba(195,190,21,1) 0%, rgba(197,85,15,1) 100%);
}
.block4__block {
    width: 350px;
    height: 350px;
    overflow: auto;
    border: 3px dashed black;
    background: url("../img/funny_lama2.jpg") no-repeat center scroll;
}
.block3__block {
    max-width: 800px;
    border: 3px double #460303;
    border-radius: 10px;
    background: url("../img/funny_lama1.jpg") center fixed;
}
#no-padding {
    padding: 0%;
}
footer {
    background: #0e0e5e;
}
.footer-container {
    max-width: 810px;
    font-size: 20px;
    color: white;
    text-align: center;
    margin: 0 auto;
}